<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Blog</title>
</head>
<body>
     <header>
        <div class="logo">Trend.Co</div>
        
        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Shoop.html">Shoop</a></li>
                <li><a href="Blog.html">Blog</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>

        <div class="right-section">
            <div class="search-container">
                <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" placeholder="Search for products...">
            </div>
            <div class="cart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
    </header>
    <main>
      <section class="blog">
            <div class="header-container">
                <h1>Welcome to Our Blog</h1>
                <p>Discover the latest trends, tips, and insights in fashion, technology, and lifestyle.</p>
            </div>
            <div class="blog-container">

                <!-- Artikel 1 -->
                <div class="blog-post">
                    <div class="image-container">
                        <p class="category-blog">Fashion</p>
                        <img src="images/Fashion.webp" alt="Blog Fashion" >
                    </div>
                    <div class="blog-text">
                        <h3>10 Gaya Fashion Musim Panas yang Lagi Hits</h3>
                        <p class="blog-description">Dari outfit santai hingga gaya kasual elegan, temukan inspirasi berpakaian untuk tampil segar dan percaya diri sepanjang musim panas ini.</p>
                        <div class="person-date">
                            <div class="author-image">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="author-info">
                                <span class="author">Oleh Admin</span>
                                <span class="date">20 Juni 2024</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Artikel 2 -->
                <div class="blog-post">
                    <div class="image-container">
                        <p class="category-blog">Technology</p>
                        <img src="images/Technology.jpg" alt="Blog Technology">
                    </div>
                    <div class="blog-text">
                        <h3>5 Gadget Canggih yang Wajib Kamu Miliki Tahun Ini</h3>
                        <p class="blog-description">Dari smartwatch hingga earphone pintar, inilah daftar perangkat teknologi yang bisa mempermudah aktivitas dan membuat gaya hidupmu makin modern.</p>
                        <div class="person-date">
                            <div class="author-image">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="author-info">
                                <span class="author">Oleh Admin</span>
                                <span class="date">20 Juni 2024</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Artikel 3 -->
                <div class="blog-post">
                    <div class="image-container">
                        <p class="category-blog">Electronics</p>
                        <img src="images/Electronics.jpg" alt="Blog Electronics">
                    </div>
                    <div class="blog-text">
                        <h3>Inspirasi Dekorasi Rumah dengan Sentuhan Teknologi Modern</h3>
                        <p class="blog-description">Gabungkan desain interior minimalis dengan perangkat pintar seperti lampu otomatis dan speaker nirkabel untuk menciptakan rumah yang nyaman dan futuristik.</p>
                        <div class="person-date">
                            <div class="author-image">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="author-info">
                                <span class="author">Oleh Admin</span>
                                <span class="date">20 Juni 2024</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Artikel 4 -->
                <div class="blog-post">
                    <div class="image-container">
                        <p class="category-blog">Fashion</p>
                        <img src="images/Fashion.jpg" alt="Blog Fashion">
                    </div>
                    <div class="blog-text">
                        <h3>Tips Memilih Warna Pakaian Sesuai Kepribadian</h3>
                        <p class="blog-description">Setiap warna punya makna dan karakter tersendiri. Yuk, temukan warna yang paling cocok dengan kepribadianmu agar penampilan makin memikat!</p>
                        <div class="person-date">
                            <div class="author-image">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="author-info">
                                <span class="author">Oleh Admin</span>
                                <span class="date">21 Juni 2024</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Artikel 5 -->
                <div class="blog-post">
                    <div class="image-container">
                        <p class="category-blog">Technology</p>
                        <img src="images/Blog-5.jpg" alt="Blog Technology">
                    </div>
                    <div class="blog-text">
                        <h3>Tren AI di Dunia Fashion dan Gaya Hidup</h3>
                        <p class="blog-description">Artificial Intelligence kini masuk ke dunia fashion! Dari desain pakaian otomatis hingga rekomendasi outfit, teknologi ini bikin hidup makin praktis.</p>
                        <div class="person-date">
                            <div class="author-image">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="author-info">
                                <span class="author">Oleh Admin</span>
                                <span class="date">21 Juni 2024</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Artikel 6 -->
                <div class="blog-post">
                    <div class="image-container">
                        <p class="category-blog">Electronics</p>
                        <img src="images/Blog-6.jpg" alt="Blog Electronics">
                    </div>
                    <div class="blog-text">
                        <h3>Perangkat Rumah Tangga Pintar yang Wajib Kamu Punya</h3>
                        <p class="blog-description">Mulai dari vacuum cleaner otomatis hingga smart mirror, teknologi rumah tangga kini bisa bikin aktivitas harian lebih mudah dan efisien.</p>
                        <div class="person-date">
                            <div class="author-image">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="author-info">
                                <span class="author">Oleh Admin</span>
                                <span class="date">21 Juni 2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </nav>
        </section>

        <aside class="sidebar">
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <section class="categories">
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Health</a></li>
                    <li><a href="#" class="read-more">Read More</a></li>
                </ul>
            </section>
            <section class="popular-posts">
                    <h2>Popular Posts</h2>
                    <div class="popular-post">
                        <div class="popular-image">
                            <img src="images/popular-image-1.jpg" alt="Popular Blog 1">
                        </div>
                        <div class="popular-text">
                        <h4>10 Trend Fashion Musim Panas Teratas</h4>
                        <span class="date">20 Juni 2024</span>
                    </div>
                </div>

                <div class="popular-post">
                    <div class="popular-image">
                        <img src="images/popular-image-2.jpg" alt="Popular Blog 2">
                    </div>
                    <div class="popular-text">
                        <h4>Ulasan Gadget: Apa yang Sedang Tren di Teknologi</h4>
                        <span class="date">20 Juni 2024</span>
                    </div>
                </div>

                <div class="popular-post">
                    <div class="popular-image">
                        <img src="images/popular-image-3.jpg" alt="Popular Blog 3">
                    </div>
                    <div class="popular-text">
                        <h4>Ide Dekorasi Rumah & Elektronik untuk Setiap Musim</h4>
                        <span class="date">20 Juni 2024</span>
                    </div>
                </div>
            </section>
        </aside>
    </main>
</body>
</html>